<header>
    
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Inventory Management</a>
            <a class="navbar-brand" href="/">Welcome </a>
            <form class="d-flex">
                <a class="navbar-brand p-2" href="/categories">Category List</a>
            </form>
        </div>
    </nav>
   
</header>



